mybatis:
  mapper-locations: classpath:/mappers/*

spring:
  datasource:
    url: jdbc:mysql://192.168.1.104:3306/lcltest?characterEncoding=utf-8&useUnicode=true&useSSL=false&serverTimezone=UTC
  #用户名密码
    username: root
    password: root
  #数据库驱动
  #此驱动有两个
  #com.mysql.jdbc.Driver
  #com.mysql.cj.jdbc.Driver
  #MySQL5用的驱动url是com.mysql.jdbc.Driver，MySQL6以后用的是com.mysql.cj.jdbc.Driver。
  #使用何种驱动，根据安装MySQL的版本而定
    driver-class-name: com.mysql.cj.jdbc.Driver
  main:
    allow-bean-definition-overriding: true
  shardingsphere:
    datasource:
      names:
        lcl104,lcl106
      # 主数据源
      lcl104:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.1.104:3306/lcltest?characterEncoding=utf-8&useUnicode=true&useSSL=false&serverTimezone=UTC
        username: root
        password: root
      # 从数据源
      lcl106:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.1.106:3306/lcltest?characterEncoding=utf-8&useUnicode=true&useSSL=false&serverTimezone=UTC
        username: root
        password: root
    masterslave:
      # 读写分离配置
      load-balance-algorithm-type: round_robin
      # 最终的数据源名称
      name: dataSource
      # 主库数据源名称
      master-data-source-name: lcl104
      # 从库数据源名称列表，多个逗号分隔
      slave-data-source-names: lcl106
    props:
      # 开启SQL显示，默认false
      sql:
        show: true



